Source: scim-unikey
Section: utils
Priority: extra
Maintainer: Your name <yourmail@example.com>
Build-Depends: debhelper (>= 6), autotools-dev, pkg-config, libscim-dev
Standards-Version: 3.8.0
Homepage: http://scim-unikey.googlecode.com/

Package: scim-unikey
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, scim | skim
Suggests: scim-m17n, ibus, ibus-unikey, ibus-m17n
Description: Vietnamese Input Method Engine for SCIM using Unikey IME
 SCIM (Smart Common Input Method) is an input method (IM) platform.
 It use Unikey engine to process keyevent.
 To enable:
 .
 Option 1: type Alt + F2 then run: im-switch -s scim-bridge
 .
 Option 2:
 .
 +Go to System->Administration->Language Support.
 .
 +Check "Enable support to enter complex character"
 .
 Logout to take effect.
 .
 Support via forum at: http://forum.ubuntu-vn.org/viewforum.php?f=85

